<h1>Add a Work of Art</h1>

<div class="container">
  <%= form_for @artwork do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :category %>
      <%= text_field_tag :category, nil, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :price %>
      <%= f.number_field :price, step: 0.01, class: 'form-control'%>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div>