<h1><%= @artwork.title %></h1>
<%= image_tag @artwork.photo.url %>
<p>Medium: <%= @artwork.medium %><br>
Dimensions: <%= @artwork.dimensions %><br>
<a href="<%= @artwork.order_print %>" target="_blank">Order a Print</a><br>
Price: $<%= @artwork.price %><br>
<% if user_signed_in? %>
	<%= link_to "Buy the Original Work of Art", send_request_artwork_path(@artwork) %>
<% else %>
	<strong><%= link_to "Want to Buy the Original? Sign in!", new_user_session_path %></strong>
<% end %>
</p>

<div class="small-button"><%= link_to "Back to #{@artwork.category.name.capitalize} Gallery", @artwork.category, class: "btn btn-default" %></div>

<% if policy(@artwork).update? %>
<div class="editing">
<p><%= link_to "Edit Artwork", edit_artwork_path(@artwork) %> | <%= link_to "Delete Artwork", artwork_path(@artwork), method: 'delete' %></p>
</div>
<% end %>