<h1><%= @artwork.title %></h1>
<%= image_tag @artwork.photo.url %>
<p>Medium: <%= @artwork.medium %><br>
Dimensions: <%= @artwork.dimensions %><br>
<a href="<%= @artwork.order_print %>" target="_blank">Order a Print</a><br>
Price: $<%= @artwork.price %><br>
<strong><a href="mailto:meg@mcoyle.com?subject=Interested%20in%20Buying%20<%= @artwork.title %>&amp;body=Hi%20Megan,%0D%0A%0D%0AI'm%20interested%20in%20buying:%0D%0A%0D%0ATitle:%20<%= @artwork.title %>%0D%0ADimensions:%20<%= @artwork.dimensions%>%0D%0APrice:%20$<%= @artwork.price %>">Buy the Original Work of Art</a></strong>
</p>

<div class="small-button"><%= link_to "Back to #{@artwork.category.name.capitalize} Gallery", @artwork.category, class: "btn btn-default" %></div>

<% if policy(@artwork).update? %>
<div class="editing">
<p><%= link_to "Edit Artwork", edit_artwork_path(@artwork) %> | <%= link_to "Delete Artwork", artwork_path(@artwork), method: 'delete' %></p>
</div>
<% end %>