<h1><%= @artwork.title %></h1>
<%= image_tag @artwork.photo.url %>
<p>Medium: <%= @artwork.medium %><br>
Dimensions: <%= @artwork.dimensions %><br>
<a href="<%= @artwork.order_print %>" target="_blank">Order a Print</a><br>
Price: $<%= @artwork.price %><br>
Buy the Original Work of Art</p>

<% if user_signed_in? %>
<p><%= link_to "Edit Artwork", edit_artwork_path(@artwork) %> | <%= link_to "Delete Artwork", artwork_path(@artwork), method: 'delete' %></p>
<% end %>

<%= link_to "Back to #{@artwork.category.name.capitalize} Gallery", @artwork.category %>