<h1><%= @category.name.capitalize %></h1>

Sort by: 

<div class="gallery">
  <% @category.artworks.each do |artwork| %>
    <div class="gallery-item">
    	<%= link_to (image_tag artwork.photo.url(:square)), artwork_path(artwork) %>
    	<p><%= link_to artwork.title, artwork_path(artwork), class: 'artwork_link' %></p>
    	<p>$<%= artwork.price %></p>
    </div>
    
  <% end %>

</div>

<div><%= link_to "Back to Galleries", root_path %></div>