<h1><%= @category.name.capitalize %></h1>

<p>Sort by: <%= link_to "Price", "?sort=price" %> | <%= link_to "Title", "?sort=title" %> | <%= link_to "Recently Added", "?sort=created_at" %></p>

<div class="gallery">
  <% @artworks.each do |artwork| %>
    <div class="gallery-item">
    	<%= link_to (image_tag artwork.photo.url(:square)), artwork_path(artwork) %>
    	<p><%= link_to artwork.title, artwork_path(artwork), class: 'artwork_link' %></p>
    	<p>$<%= artwork.price %></p>
    </div>
    
  <% end %>

</div>

<div class="med-button"><%= link_to "Back to Galleries", root_path, class: "btn btn-default" %></div>